body{
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: #de8a0b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#contenedor{
display: inline-flex;
flex-direction: column;
width: 98vw;
height: 97vh;
justify-content: center;
align-items: center;
}
.encabezado{
    background-color: white;
    min-width: 300px;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
}
.dificultad{
    opacity: 0.3;
    text-align: left;
}
.pregunta{
    padding: 10px;
}
.btn{
    background-color: white;
    width: 60%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
.imagen{
    height: 300px;
    width: 50%;
    border-radius: 10px;
}
.button__inicio{
    background-color: white;
    border-radius: 10px;
    border-color: white;
    height: 50px;
    width: 80px;
}
.button__inicio a{
    background-color: white;
    color: black;
    text-decoration: none;
}
.texto__inicio{
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}